*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        background: #9e9da1;
    }
    .container{
        width: 90%;
        max-width: 1000px;
        margin: 20px auto;
    }
    header{
        background: rgb(66, 98, 185);
    }
     header nav{
    width: 100%;
    }
    header nav ul{
    list-style: none;
    overflow: hidden;
    }
    header nav ul li{
    float: left;
    }
    header nav ul li a{
    text-decoration: none;
    color: #fff;
    display:inline-block;
    padding: 15px 20px;
    }
    header nav ul li a:hover{
        background: rgb(223,78,78);
        color: #fff;
        }
                    
    
    .main{
        width: 70%;
        background: #fff;
        float: left;
    }
    .main .imagen{
        width: 100%;
    }
    .main .imagen img{
        width: 100%;
        vertical-align: top;
    }
    .main .posts{
        padding: 40px;
        
    }
     .main .posts article h2{
        margin-bottom: 20px;
    
     }
     .main .posts article  p{
        margin-bottom: 20px;
        line-height: 27px;
     }
    aside{
        width: 30%;
        background: #2c5370;
        color:#fff;
        float: left;
        padding: 20px;
    }
    aside .widget{
        margin-top: 20px;
    }
    aside .widget .titulo{
        color:#fff;
        border-bottom: 3px solid;
        margin-bottom: 10px;
    }
    aside .widget ul{
     list-style: none;
    }
    aside .widget ul li {
        border-bottom: 1px solid rgb(255, 255,255,0.2);
        color: #fff;
        padding: 10px;
    
    }
    footer{
        width: 70%;
        text-align: center;
        background: rgb(66,98, 195);
        color:#fff;
        padding: 15px 0;
        clear:left;
        
    }
    aside .widget ul li a {
        color: #fff;
        text-decoration: none;
    }
    aside .widget ul li a:hover {
        color: #8f8f88;
    }
    aside .widget p{
    line-height: 27px;
    text-align: justify;
    }